@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Open+Sans:wght@400;700&display=swap');

:root{
    --branco: #ffffff;
    --lilasheader: #F8F5FF;
    --lilas: #845ef7;
    --azulservicos: #5a27f2;
    --cinzaformulario: #30373E;
    --cinzaplaceholder: #ADB5BD;
    --pretofooter: #000000;
}

body{
    margin: 0;
    padding: 0;
    width: 320px;
    height: 7269px;
    align-items: center;
    background-color: var(--branco);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 320px;
    height: 64px;
    margin-bottom: 15px;
    
}

.navbar{
    display: flex;
    flex-direction: row;
    margin: 0px;
    margin-bottom: 15px;
    background-color: var(--lilasheader);
    width: 320px;
    height: 64px;
    border-radius: 0px 0px 32px 32px;

}

.container__botoes{
    display: none;
}

.menu__mobile{
    position: absolute;
    width: 24px;
    height: 18px;
    margin-left: 15px;
    margin-top: 23px;
    cursor: pointer;
}

.menu__mobile:hover{
    filter: invert(5%) sepia(78%) saturate(6858%) hue-rotate(276deg) brightness(97%) contrast(101%);
}

.menu__mobile:active{
    filter: invert(12%) sepia(63%) saturate(6234%) hue-rotate(246deg) brightness(87%) contrast(156%);
}

.logo__design{
    position: absolute;
    width: 58.48px;
    height: 32px;
    margin-left: 118.76px;
    margin-top: 16px;
    cursor: pointer;
}

.lupa__design{
    position: absolute;
    width: 18px;
    height: 18px;
    margin-left: 272px;
    margin-top: 23px;
    cursor: pointer;
}

.lupa__design:hover{
    filter: invert(5%) sepia(78%) saturate(6858%) hue-rotate(276deg) brightness(97%) contrast(101%);
}

.projetos{
    width: 320px;
    height: auto;
}

.Header___logo{
    width: 290px;
    height: 308px;
    border-radius: 24px;
    margin-left: 15px;
    margin-right: 15px;
}

.Title__Principal{
    width: 260px;
    height: 58px;
    height: 800;
    font-size: 24px;
    line-height: 28.8px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-left: 30px;
    position: absolute; 
}

.projetos p{
    width: 201px;
    height: 100px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19.6px;
    margin-top: 86px;
    margin-left: 30px;
    position: absolute;
}

.Title__Principal, .projetos p{
    -webkit-animation:fadeInUp 2s ease backwards;
    -webkit-animation-iteration-count: 3;}

    @-webkit-keyframes fadeInUp{
    0%{transform:translate(0px, 100px); opacity: 0;}
    100%{transform:translate(0px, 0); opacity: 1;}
    }

    .botao__calculo{
    -webkit-animation: fadeInAnimation ease 2s;
    -webkit-animation-iteration-count: 3;
    }
    
    @-webkit-keyframes fadeInAnimation {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
    }

        .botao__calculo{
    -webkit-animation-name: animationdestaque;
    -webkit-animation-iteration-count: 1000;
    }
            
    @-webkit-keyframes animationdestaque {
    0% {
    background-color: var(--lilas);
    }
    100% {
    background-color: #4B0082;
    }
    }

    .botao__calculo{
        -webkit-animation-name: animationdestaque;
        -webkit-animation-iteration-count: 1000;
        }
                
        @-webkit-keyframes animationdestaque {
        0% {
        background-color: var(--lilas);
        }
        100% {
        background-color: #4B0082;
        }
        }

.botao__calculo{
    width: 174px;
    height: 44px;
    margin-top: -100px;
    margin-bottom: 54px;
    margin-left: 30px;
    border-radius: 8px;
    border: none;
    position: absolute;
    background-color: var(--lilas);
    cursor: pointer;
}

.texto__botao{
    width: 110px;
    height: 18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color:var(--branco);
}

.botao__calculo:hover{
    border: 4px solid #5A27F2;
    border-radius: 8px;
}

.botao__calculo:focus{
    border: 4px solid #E1D4FF;
    border-radius: 8px;
}

.botao__calculo:active{
    background-color: var(--azulservicos);
    border-radius: 8px;
    border: none;
}

.sobre{
    width: 320px;
    height: auto;
}

.title__h2{
    width: 168px;
    height: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 38.4px;
    color:var(--pretofooter);
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.sobrenos__texto p{
    width: 290px;
    height: 400px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25.2px;
    margin-top: 17px;
    margin-bottom: 24px;
    margin-left: 15px;
    margin-right: 15px;
}

.sobrenos__banner img{
    width: 290px;
    height: 200px;
    border-radius: 16px;
    margin-left: 15px;
    margin-right: 15px;
}

.container__texto{
    width: 290px;
    height: 225px;
    margin-top: -50px;
    border-radius: 16px;
    border: 1px solid #D3D7DB;
    position: absolute;
    background-color: var(--branco);
    margin-left: 15px;
    margin-right: 15px;
}

.botao__mais{
    width: 260px;
    height: 44px;
    margin-top: 24px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 8px;
    border: 2px solid #845EF7;
    padding: 13px 13px 13px 13px;
    gap: 10px;
    background-color: var(--branco);
    cursor:pointer;
}

.botao__mais:focus{
    border: 4px solid #E1D4FF;
    background-color: var(--lilas);
    border-radius: 8px;
}
    
.botao__mais:active{
    background-color:var(--azulservicos);
    border-radius: 8px;
}

.container__texto p{
    width: 260px;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 25.2px;
    color:var(--pretofooter);

}

.texto__botaomais{
    width: 34px;
    height: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color:var(--lilas);
}

.texto__botaomais:hover{
    color:var(--azulservicos);
}
    
.texto__botaomais:focus{
    color:var(--branco);
}
        
.texto__botaomais:active{
    color:var(--branco);
}


.arquitetura__consultoria{
    width: 290px;
    height: 268px;
    margin-top: 200px;
    background-color: var(--branco);
    border-radius: 16px;
    border: 1px solid #D3D7DB;
    margin-bottom: 16px;
    margin-left: 15px;
    margin-right: 15px;
}

.title__h3{
    width: 260px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: -3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 25.2px;
    color:var(--pretofooter);
    margin-left: 15px;
    margin-right: 15px;
}

.arquitetura__consultoria img{
    width: 58px;
    height: 64px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.arquitetura__servico{
    width: 290px;
    height: 260px;
    margin-top: 25px;
    background-color: var(--branco);
    border-radius: 16px;
    border: 1px solid #D3D7DB;
    margin-left: 15px;
    margin-right: 15px;
}

.arquitetura__servico img{
    width: 106px;
    height: 64px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.comotrabalhamos{
    width: 290px;
    height: auto;
}

.title__trabalhamos{
    width: 182px;
    height: 25px;
    margin-top: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 25.2px;
    color:var(--pretofooter);
    margin-left: 15px;
    margin-right: 123px;
}

.arquitetura p{
    width: 250px;
    height: 100px;
    margin-left: 15px;
    margin-top: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25.2px;
    color:var(--pretofooter);
}

.banner__trabalhamos img{
    width: 290px;
    height: 120px;
    margin-top: 26px;
    border-radius: 24px;
    margin-left: 15px;
    margin-right: 15px;
}
.texto__trabalhamos p{
    width: 290px;
    height: 425px;
    margin-top: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25.2px;
    color:var(--pretofooter);
    margin-bottom: 24px;
    margin-left: 15px;
    margin-right: 15px;
}

.botoes__trabalhamos{
    width: 290px;
    height: 44px;
    margin-bottom: 39px;
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 15px;
}

.botaomais__trabalhamos{
    width: 137px;
    height: 44px;
    border-radius: 8px;
    border: none;
    padding: 13px 13px 13px 13px;
    gap: 10px;
    background-color: var(--lilas);
    cursor: pointer;
}

.botaomais__trabalhamos:hover{
    border: 4px solid #5A27F2;
    border-radius: 8px;
}
    
.botaomais__trabalhamos:focus{
    border: 4px solid #E1D4FF;
    border-radius: 8px;
}

.botaomais__trabalhamos:active{
    background-color: var(--azulservicos);
    border-radius: 8px;
}

.textobotao__trabalhamos{
    width: 34px;
    height: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color:var(--branco);
}

.botao__contrate{
    width: 137px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #845EF7;
    padding: 13px 13px 13px 13px;
    gap: 10px;
    background-color: var(--branco);
    margin-left: 16px;
    cursor: pointer;
}

.botao__contrate:focus{
    border:4px solid #E1D4FF;
    background-color: var(--lilas);
    border-radius: 8px;
}

.botao__contrate:active{
    background-color: var(--azulservicos);
    border-radius: 8px;
}

.textobotao__contrate{
    width: 96px;
    height: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color:var(--lilas);
}

.textobotao__contrate:hover{
    color:var(--azulservicos);
}

.textobotao__contrate:focus{
    color:var(--branco);
}
        
.textobotao__contrate:active{
    color:var(--branco);
}

.vantagens{
    width: 320px;
    height: auto;
}

.vantagens__itens p{
    width: 204px;
    height: 225px;
    margin-left: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25.2px;
    margin-top: -40px;
    
}

.vantagens__item1{
    width: 260px;
    height: 255px;
    border-radius: 16px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--branco);
    border: 1px solid #D3D7DB;
    margin-left: 15px;
    margin-right: 15px;
}

.vantagens__item2{
    width: 260px;
    height: 80px;
    border-radius: 16px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--branco);
    border: 1px solid #D3D7DB;
    margin-left: 15px;
    margin-right: 15px;
}

.vantagens__item3{
    width: 260px;
    height: 75px;
    border-radius: 16px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--branco);
    border: 1px solid #D3D7DB;
    margin-left: 15px;
    margin-right: 15px;
}

.vantagens__item4{
    width: 260px;
    height: 80px;
    border-radius: 16px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--branco);
    border: 1px solid #D3D7DB;
    margin-left: 15px;
    margin-right: 15px;
}

.vantagens__item5{
    width: 260px;
    height: 230px;
    border-radius: 16px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--branco);
    border: 1px solid #D3D7DB;
    margin-left: 15px;
    margin-right: 15px;
}

.vantagens__item6{
    width: 260px;
    height: 230px;
    border-radius: 16px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--branco);
    border: 1px solid #D3D7DB;
    margin-left: 15px;
    margin-right: 15px;
}

.vantagens__item7{
    width: 260px;
    height: 255px;
    border-radius: 16px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--branco);
    border: 1px solid #D3D7DB;
    margin-left: 15px;
    margin-right: 15px;
}

.vantagens__item1:hover, .vantagens__item2:hover, .vantagens__item3:hover, .vantagens__item4:hover, .vantagens__item5:hover, .vantagens__item6:hover, .vantagens__item7:hover{
    -webkit-transform: translateY(-10px);  
    box-shadow: 15px 15px lightgray;
}

.servicos{
    width: 290px;
    height: auto;
}

.servicos__imagem img{
    width: 290px;
    height: 148px;
    border-radius: 16px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.servicos__textoeimagem{
    width: 290px;
    height: auto;
    border: 1px solid #FAFAFA;
    position: relative;
    margin-top: -20px;
    margin-bottom: 16px;
    background-color: var(--branco);
    margin-left: 15px;
    margin-right: 15px;
}

.servicos__textoeimagem h3{
    width: 204px;
    height: 25px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 25.2px;
    color:var(--azulservicos);
    cursor: pointer;
}

.servicos__textoeimagem p{
    width: 260px;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25.2px;
    color:var(--pretofooter);
}

.servicos__textoeimagem img{
    width: 32px;
    height: 32px;
    margin-top: -130px;
    margin-left: 243px;
    border-radius: 8px;
    padding: 8px;
    gap: 10px;
    cursor: pointer;
    position: absolute;
}

.servicos__textoeimagem:hover {
    -webkit-transform: translateY(-20px);  
    transform: translateY(-20px);
    }

.servicos__textoeimagem img:hover{
    background-color: var(--lilas);
    border-radius: 8px;
}

.servicos__textoeimagem img:active{
    background-color: var(--azulservicos);
    border-radius: 8px;
}

footer{
    width: 320px;
    height: 1450px;
    margin-top: 20px;
    background-color:var(--pretofooter);
    flex-shrink: 0;
}

.title__footer{
    width: 290px;
    height: 76px;
    margin-left: 15px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 38.4px;
    color:var(--branco);
}

.formulario__footer{
    width: 280px;
    height: 52px;
    margin-top: 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--cinzaformulario);
    margin-left: 15px;
    margin-right: 15px;
    color:var(--cinzaplaceholder);
}

.formulario__footer::placeholder{
    width: 49px;
    height: 25px;
    margin-top: 14px;
    margin-left: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25.2px;
    color:var(--cinzaplaceholder);
}

select{
    width: 297px;
    height: 52px;
    margin-top: 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--cinzaformulario);
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    color:var(--cinzaplaceholder);
}

input{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 180%;
    letter-spacing: 0.14px;
    padding-left: 15px;
}

.formulario__footer:hover{
    border: 2px solid #845EF7;
    border-radius: 8px;
}
    
.formulario__footer:active{
    border: 5px solid #845EF7;
    background-color: var(--cinzaformulario);
}

select:hover{
    border: 2px solid #845EF7;
    border-radius: 8px;
}
    
select:active{
    border: 5px solid #845EF7;
    background-color: var(--cinzaformulario);
}

.politica__privacidade{
    width: 261px;
    height: 32px;
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 32px;
    color:var(--branco);
}

.botao__footer{
    width: 290px;
    height: 44px;
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 8px;
    border: none;
    padding: 13px 32px 13px 32px;
    gap:10px;
    background-color: var(--lilas);
}

.botao__footer:hover{
    border: 4px solid #5A27F2;
    border-radius: 8px;
}
    
.botao__footer:focus{
    border: 4px solid #E1D4FF;
    border-radius: 8px;
}
    
.botao__footer:active{
    background-color: var(--azulservicos);
    border-radius: 8px;
    border: none;
}

.texto__botaofooter{
    width: 62px;
    height: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color:var(--branco);
    cursor: pointer;
}

.politica__privacidade:hover{
    border: 1px solid #30373E;
    border-radius: 4px;
}

.politica__privacidade:active{
    border-radius: 4px;
    background-color: var(--azulservicos);
}

.texto__footer{
    width: 290px;
    height: 250px;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25.2px;
    color:var(--branco)
}

.logo__footer img{
    width: 107px;
    height: 59px;
    margin-top: 850px;
    margin-left: 15px;
    gap: 5px;
    cursor: pointer;
    position: absolute;
}

.listagem__estilizada{
    width: 140px;
    height: 18px;
    margin-left: 15px;
    margin-top: 960px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color:var(--branco);
    position: absolute;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.lista__sobre:hover, .lista__trabalhamos:hover, .lista__vantagens:hover, .lista__servicos:hover, .lista__contatos:hover {
    color:var(--lilas);
    text-decoration: underline;
}

input:invalid {
    border: 1px solid red;
    -webkit-animation-name: pulsar;
    -webkit-animation: pulsar infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 5s;
    }
    
    @-webkit-keyframes pulsar{
    0% {-webkit-transform: scale(1);}
    25% {-webkit-transform: scale(1.1);}
    50% {-webkit-transform: scale(1);}
    100% {-webkit-transform: scale(1);}
    }

.redes__sociais{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 104px;
    height: 40px;
    margin-top: 1250px;
    margin-left: 15px;
    gap: 24px;
    position: absolute;
}


@media(min-width: 321px) and (max-width: 1920px) {

    body{
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 4841px;
    background-color: var(--branco);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    }

   header{
    margin-bottom: 50px;
    width: 1900px;
    height: 100px;
    }

    .navbar{
    width: 1920px;
    height: 100px;
    background-color: var(--lilasheader);
    border-radius: 0px 0px 32px 32px;
    margin-bottom: 50px;
    
    }

    .botoes__estilizados{
    width: auto;
    height: 58px;
    border-radius: 8px;
    border: 1px solid #D3D7DB;
    padding: 18px 20px 18px 20px;
    gap: 16px;
    margin-right: 40px;
    background-color: var(--lilasheader);
    cursor: pointer;
    }

    .botoes__estilizados:hover{
    background-color: var(--cinzaplaceholder);
    }

    .botoes__estilizados:active{
    background-color: var(--cinzaformulario);
    }
    
    .nav__textobotao{
    width: 94px;
    height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color:var(--pretofooter);
    }

    .nav__textobotao:hover{
    color:var(--branco);
    }

    .nav__textobotao:active{
    color:var(--branco);
    }
    
    .container__botoes{
    display: flex;
    flex-direction: row;
    margin-left: 350px;
    margin-top: 21px;
    }    
    
    .menu__mobile{
    display: none;
    }

    .logo__design{
    width: 106.06px;
    height: 58.33px;
    margin-top: 21px;
    margin-left: 75px;
    gap: 5px;
    cursor: pointer;
    }

    .lupa__design{
    width: 24px;
    height: 24px;
    margin-top: 40px;
    margin-left: 1821px;
    }

    .lupa__design:hover{
    filter: invert(5%) sepia(78%) saturate(6858%) hue-rotate(276deg) brightness(97%) contrast(101%);
    }

    .projetos{
    width: 1770px;
    height: auto;
    margin-left: 75px;
    margin-right: 75px;
    }

    .Header___logo{
    width: 1770px;
    height: 620px;
    border-radius: 32px;
    margin-bottom: 50px;
    }

    .Title__Principal{
    width: 837px;
    height: 172px;
    margin-top: 100px;
    margin-left: 100px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 72px;
    line-height: 86.4px;
    color:var(--pretofooter);
    }

    .projetos p{
    width: 680px;
    height: 93px;
    margin-top: 290px;
    margin-left: 100px;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
    color:var(--pretofooter);
    }

    .Title__Principal, .projetos p{
    -webkit-animation:fadeInUp 2s ease backwards;
    -webkit-animation-iteration-count: 3;}

    @-webkit-keyframes fadeInUp{
    0%{transform:translate(0px, 100px); opacity: 0;}
    100%{transform:translate(0px, 0); opacity: 1;}
    }

    .botao__calculo{
    -webkit-animation: fadeInAnimation ease 2s;
    -webkit-animation-iteration-count: 3;
    }
    
    @-webkit-keyframes fadeInAnimation {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
    }

    .botao__calculo{
    -webkit-animation-name: animationdestaque;
    -webkit-animation-iteration-count: 1000;
    }
            
    @-webkit-keyframes animationdestaque {
    0% {
    background-color: var(--lilas);
    }
    100% {
    background-color: #4B0082;
    }
    }
    
    .botao__calculo{
    width: 215px;
    height: 58px;
    margin-top: -250px;
    margin-left: 80px;
    padding: 18px 32px 18px 32px;
    gap: 10px;
    background-color: var(--lilas);
    position: absolute;
    border:none;
    cursor: pointer;
    margin-bottom: 1000px;
    }

    .botao__calculo:hover{
    border: 4px solid #5A27F2;
    border-radius: 8px;
    }

    .botao__calculo:focus{
    border: 4px solid #E1D4FF;
    border-radius: 8px;
    }

    .botao__calculo:active{
    background-color: var(--azulservicos);
    border-radius: 8px;
    border: none;
    }

    .texto__botao{
    width: 141px;
    height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color:var(--branco);
    }

    .sobre{
    width: 1920px;
    height: 989px;
    margin-bottom: 50px;
    }

    .title__h2{
    width: 461px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color:var(--pretofooter);
    margin-bottom: 50px;
    margin-top: 15px;
    margin-left: 75px;
    }
    
    .sobrenos__texto p{
    width: 890px;
    height: 256px;
    margin-top: 20px;
    margin-left: 75px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32.4px;
    color:var(--pretofooter);
    }
    .sobrenos__banner img{
    width: 810px;
    height: 800px;
    border-radius: 32px;
    margin-left: 1030px;
    margin-right: 75px;
    margin-top: -350px;
    position: absolute;
    }

    .container__texto{
    width: 810px;
    height: 270px;
    border: 1px solid #D3D7DB;
    border-radius: 32px;
    background-color: var(--branco);
    position: absolute;
    margin-top: 230px;
    margin-left: 1030px;
    margin-right: 75px;
    }

    .container__texto p{
    width: 478px;
    height: 96px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 32.4px;
    color:var(--pretofooter);
    margin-left: 50px;
    margin-top: 70px;
    }

    .botao__mais{
    width: 108px;
    height: 58px;
    margin-left: 600px;
    margin-top: -100px;
    border-radius: 8px;
    padding: 18px 32px 18px 32px;
    gap: 10px;
    border: 1px solid #845EF7;
    background-color: var(--branco);
    position: absolute;
    }

   .botao__mais:focus{
    border: 4px solid #E1D4FF;
    background-color: var(--lilas);
    border-radius: 8px;
    }
    
    .botao__mais:active{
    background-color:var(--azulservicos);
    border-radius: 8px;
    }

    .texto__botaomais{
    width: 44px;
    height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color:var(--lilas);
    cursor: pointer;
    }
    
    .texto__botaomais:hover{
    color:var(--azulservicos);
    }

    .texto__botaomais:focus{
    color:var(--branco);
    }
    
    .texto__botaomais:active{
    color:var(--branco);
    }

    .arquitetura__consultoria{
    width: 780px;
    height: auto;
    border-radius: 32px;
    padding: 40px 60px 40px 60px;
    background-color: var(--branco);
    border: 1px solid #D3D7DB;
    margin-bottom: 20px;
    margin-top: -50px;
    margin-left: 75px;
    }

    .arquitetura__consultoria img{
    width: 190px;
    height: 165px;
    align-items: center;

    }

    .arquitetura__servico{
    width: 780px;
    height: auto;
    border-radius: 32px;
    padding: 40px 60px 40px 60px;
    background-color: var(--branco);
    border: 1px solid #D3D7DB;
    margin-bottom: 80px;
    margin-left: 75px;
    }

    .arquitetura__servico img{
    width: 190px;
    height: 165px;
    align-items: center;
    }

    .title__h3{
    width: 480px;
    height: 31px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
    color:var(--pretofooter);
    margin-left: 300px;
    margin-top: -170px;
    }

    .arquitetura p{
    width: 450px;
    height: 96px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-left: 300px;
    color:var(--pretofooter);
    }

    .comotrabalhamos{
    width: 1772px;
    height: auto;
    
    }

    .title__trabalhamos{
    width: 325px;
    height: 31px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
    color:var(--pretofooter);
    margin-top: -550px;
    margin-left: 75px;
    }

    .banner__trabalhamos img{
    width: 800px;
    height: 427px;
    margin-left: 977px;
    margin-top: 50px;
    border-radius: 32px;
    margin-bottom: 100px;
    margin-left: 1030px;
    }

    .texto__trabalhamos p{
    width: 758px;
    height: 288px;
    margin-top: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32.4px;
    color:var(--pretofooter);
    margin-left: 75px;
    }

    .botaomais__trabalhamos{
    width: 98px;
    height: 58px;
    border-radius: 8px;
    padding: 18px 32px 18px 32px;
    gap: 20px;
    background-color: var(--lilas);
    border:none;
    margin-top: 0px;
    cursor: pointer;
    margin-left: 75px;
    }

    .botaomais__trabalhamos:hover{
    border: 4px solid #5A27F2;
    border-radius: 8px;
    }
    
    .botaomais__trabalhamos:focus{
    border: 4px solid #E1D4FF;
    border-radius: 8px;
    }

    .botaomais__trabalhamos:active{
    background-color: var(--azulservicos);
    border-radius: 8px;
    }

    .botaotexto__estilo{
    width: 44px;
    height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color:var(--branco);
    }

    .botao__contrate{
    width: 350px;
    height: 58px;
    border-radius: 8px;
    padding: 18px 32px 18px 32px;
    background-color: var(--branco);
    border: 1px solid #845EF7;
    margin-left: 30px;
    margin-top: 0px;
    cursor: pointer;
    }

    .botao__contrate:focus{
    border:4px solid #E1D4FF;
    background-color: var(--lilas);
    border-radius: 8px;
    }

    .botao__contrate:active{
    background-color: var(--azulservicos);
    border-radius: 8px;
    }
    

    .textobotao__contrate{
    width: 123px;
    height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14.5px;
    line-height: 0px;
    color:var(--lilas);
    }

    .textobotao__contrate:hover{
    color:var(--azulservicos);
    }

    .textobotao__contrate:focus{
    color:var(--branco);
    }
        
    .textobotao__contrate:active{
    color:var(--branco);
    }

    .botoes__trabalhamos{
    margin-bottom: 200px;
    }

    .vantagens{
    width: 1920px;
    height: auto;
    }


    .vantagens__itens p{
    width: auto;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32.4px;
    color:var(--pretofooter);
    margin-left: 75px;
    }
    
    
    @media (min-width: 480px){
    .vantagens__item1{
    grid-area: vantagens__item1;
    }
    .vantagens__item2{
    grid-area: vantagens__item2;
    }
    .vantagens__item3{
    grid-area: vantagens__item3;
    }
    .vantagens__item4{
    grid-area: vantagens__item4;
    }
    .vantagens__item5{
    grid-area: vantagens__item5;
    }
    .vantagens__item6{
    grid-area: vantagens__item6;
    }
    .vantagens__item7{
    grid-area: vantagens__item7;
    }
    
    }
    
    .vantagens__itens{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "vantagens__item1 vantagens__item1 vantagens__item2 vantagens__item3"
        "vantagens__item4 vantagens__item5 vantagens__item5 vantagens__item6"
        "vantagens__item7 vantagens__item7 vantagens__item7 vantagens__item6";
    gap: 5px 5px;
    margin-left: 75px;
    }
    
    .vantagens__item1{
    width: auto;
    height: 176px;
    margin-top: 39px;
    border-radius: 32px;
    padding: 40px;
    margin-bottom: 10px;
    background-color: var(--branco);
    border: 1px solid #D3D7DB;
    }
  
    .vantagens__item2{
    width: auto;
    height: 176px;
    margin-top: 39px;
    border-radius: 32px;
    padding: 40px;
    margin-bottom: 10px;
    background-color: var(--branco);
    border: 1px solid #D3D7DB;
    }  
    
    .vantagens__item3{
    width: 280px;
    height: 176px;
    margin-top: 39px;
    border-radius: 32px;
    padding: 40px;
    margin-bottom: 10px;
    background-color: var(--branco);
    border: 1px solid #D3D7DB;
    }
    
    .vantagens__item4{
    width: auto;
    height: 176px;
    margin-top: 39px;
    border-radius: 32px;
    padding: 40px;
    margin-bottom: 10px;
    background-color: var(--branco);
    border: 1px solid #D3D7DB;
    }
    
    .vantagens__item5{
    width: auto;
    height: 176px;
    margin-top: 39px;
    border-radius: 32px;
    padding: 40px;
    margin-bottom: 10px;
    background-color: var(--branco);
    border: 1px solid #D3D7DB;
    }
    
    .vantagens__item6{
    width: 280px;
    height: 455px;
    margin-top: 39px;
    border-radius: 32px;
    padding: 40px;
    margin-bottom: 10px;
    background-color: var(--branco);
    border: 1px solid #D3D7DB;
    }
    
    .vantagens__item7{
    width: auto;
    height: 144px;
    margin-top: 39px;
    border-radius: 32px;
    padding: 40px;
    margin-bottom: 10px;
    background-color: var(--branco);
    border: 1px solid #D3D7DB;
    }

    .vantagens__item1:hover, .vantagens__item2:hover, .vantagens__item3:hover, .vantagens__item4:hover, .vantagens__item5:hover, .vantagens__item6:hover, .vantagens__item7:hover{
    -webkit-transform: translateY(-10px);  
    box-shadow: 15px 15px lightgray;
    }

    .servicos{
    width: 1920px;
    height: auto;
    }

    .servicos__textoeimagem{
    width: 542px;
    height: auto;
    border: 1px solid #FAFAFA;
    position: relative;
    margin-top: -5px;
    margin-bottom: 10px;
    background-color: var(--branco);
    }

    .servicos__textoeimagem:hover {
    -webkit-transform: translateY(-20px);  
    transform: translateY(-20px);
    }


    .servicos__imagem img{
    width: 542px;
    height: 165px;
    border-radius: 16px 16px 0px 0px;
    }

    .servicos__textoeimagem h3{
    width: 419px;
    height: 31px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
    color:var(--azulservicos);
    margin-top: 20px;
    margin-left: 45px;
    cursor: pointer;
    }

    .servicos__textoeimagem p{
    width: 394px;
    height: 64px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-top: 5px;
    margin-left: 45px;
    color:var(--pretofooter);
    }

    .servicos__textoeimagem img{
    width: 40px;
    height: 40px;
    padding: 5px;
    color:var(--lilas);
    margin-left: 475px;
    margin-top: -150px;
    position: absolute;
    cursor: pointer;
    }

    .servicos__textoeimagem img:hover{
    filter: invert(5%) sepia(78%) saturate(6858%) hue-rotate(276deg) brightness(97%) contrast(101%);
    }

    .servicos__textoeimagem img:active{
    filter: invert(12%) sepia(63%) saturate(6234%) hue-rotate(246deg) brightness(87%) contrast(156%);
    }

    .servicos__grupo1{
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-left: 75px;
    margin-right: 70px;
    
    }
    
    .servicos__grupo2{
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-left: 75px;
    margin-right: 70px;
    }

    footer{
    width: 1920px;
    height: 750px;
    background-color:var(--pretofooter);
    margin-top: 100px;
    }
    
    .container__footer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 350px;
    }
    
    .itens__footer{
    margin-left: 75px;
    margin-top: 50px;
    }
    
    .logo__footer img{
    width: 106px;
    height: 58px;
    margin-bottom: 50px;
    margin-top: 0px;
    cursor: pointer;
    }
    
    .listagem__estilizada{
    width: 180px;
    height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color:var(--branco);
    margin-bottom: 200px;
    margin-top: 110px;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    }

    .lista__sobre:hover, .lista__trabalhamos:hover, .lista__vantagens:hover, .lista__servicos:hover, .lista__contatos:hover {
    color:var(--lilas);
    text-decoration: underline;
    }
    
    .redes__sociais{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 144px;
    height: 60px;
    gap: 24px;
    margin-top: 400px;
    }

    .item__formulario{
    margin-left: -250px;
    }
    
    .title__footer{
    width: 469px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color:var(--branco);
    margin-left: 140px;
    }
    
    .formulario__footer{
    width: 570px;
    height: 60px;
    margin-top: 60px;
    margin-left: 140px;
    border-radius: 8px;
    background-color: var(--cinzaformulario);
    color:var(--cinzaplaceholder);
    margin-bottom: 30px;
    margin-top: 10px;
    }

    .formulario__footer::placeholder{
    width: 55px;
    height: 32px;
    margin-top: 14px;
    margin-left: 24px;
    letter-spacing: 0.16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color:var(--cinzaplaceholder);
    }

    select{
    width: 590px;
    height: 60px;
    margin-left: 140px;
    padding-left: 20px;
    border-radius: 8px;
    background-color: var(--cinzaformulario);
    color:var(--cinzaplaceholder);
    margin-bottom: 30px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    }

    input{
    width: 55px;
    height: 32px;
    margin-top: 14px;
    margin-left: 24px;
    padding-left: 20px;
    letter-spacing: 0.16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    }

    input:invalid {
    border: 1px solid red;
    -webkit-animation-name: pulsar;
    -webkit-animation: pulsar infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 5s;
    }
    
    @-webkit-keyframes pulsar{
    0% {-webkit-transform: scale(1);}
    25% {-webkit-transform: scale(1.1);}
    50% {-webkit-transform: scale(1);}
    100% {-webkit-transform: scale(1);}
    }

    .inpt__check{
    width: 24px;
    height: 24px;
    padding: 6px;
    margin-top: -10px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var (--pretofooter);
    }

    .formulario__footer:hover{
    border: 2px solid #845EF7;
    border-radius: 8px;
    }
    
    .formulario__footer:active{
    border: 5px solid #845EF7;
    background-color: var(--cinzaformulario);
    }

    select:hover{
    border: 2px solid #845EF7;
    border-radius: 8px;
    }

    select:active{
    border: 5px solid #845EF7;
    background-color: var(--cinzaformulario);
    }
    
    
    .botao__footer{
    width: 143px;
    height: 58px;
    border-radius: 16px;
    padding: 18px 32px 18px 32px;
    gap: 10px;
    background-color: var(--lilas);
    margin-left: 140px;
    margin-top: 10px;
    cursor: pointer;
    }

    .botao__footer:hover{
    border: 4px solid #5A27F2;
    border-radius: 8px;
    }
    
    .botao__footer:focus{
    border: 4px solid #E1D4FF;
    border-radius: 8px;
    }
    
    .botao__footer:active{
    background-color: var(--azulservicos);
    border-radius: 8px;
    border: none;
    }
    
    .texto__botaofooter{
    width: 79px;
    height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color:var(--branco);
    }
    
    .politica__privacidade{
    width: 368px;
    height: 32px;
    margin-left: 300px;
    margin-top: -40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color:var(--branco);
    position: absolute;
    }

    .politica__privacidade:hover{
    border: 1px solid #30373E;
    border-radius: 4px;
    }

    .politica__privacidade:active{
    border-radius: 4px;
    background-color: var(--azulservicos);
    }
    
    .texto__footer{
    width: 519px;
    height: 300px;
    margin-top: 133px;
    margin-left: -500px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color:var(--branco);
    }
}

